<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Contacts</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>

<body>
<h2>Spring Boot Contacts</h2>

<form method="post">

<label for="userName">user name:</label>
<input type="text" name="userName"/><br/>

<label for="phoneNumber"> phone number:</label>
<input type="text" name="phoneNumber"/><br/>

<input type="submit"/>
</form>

<ul th:each="contact: ${contacts}">
    <li>
        <span th:text="${contact.userName}">user name: </span>
        <span th:text="${contact.phoneNumber}">phone number: </span>
    </li>
</ul>

</body>

</html>